In [6]:
import sqlite3

In [7]:
connection = sqlite3.connect('test.db')

In [8]:
connection

In [9]:
cursor = connection.cursor()

In [15]:
# Create a Table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL,
    department TEXT NOT NULL
)
''')

connection.commit()

In [16]:
cursor.execute('''
SELECT * FROM employees
''')

In [17]:
# Insert the data
cursor.execute('''
INSERT INTO employees(name, age, department)
    VALUES ('Pramodya', 23, 'ML Engineer')

''')

cursor.execute('''
INSERT INTO employees(name, age, department)
    VALUES ('Kavindi', 23, 'Data Scientist')

''')

connection.commit()

In [20]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Pramodya', 23, 'ML Engineer')
(2, 'Kavindi', 23, 'Data Scientist')

#### Update the Data

In [21]:
cursor.execute('''
UPDATE employees
SET age=24
WHERE name='Pramodya'
''')

connection.commit()

In [22]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Pramodya', 24, 'ML Engineer')
(2, 'Kavindi', 23, 'Data Scientist')

#### Delete the Dat

In [23]:
cursor.execute('''
DELETE FROM employees
WHERE name='Pramodya'
''')

In [24]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'Kavindi', 23, 'Data Scientist')

In [25]:
cursor.close()